body {height:3000px}

.chatbox {
  font-family:"Arial,Helvetica,sans-serif,calibri";
  color:#333;
  width:200px; 
  border:1px solid #344150;
  border-bottom:none;
  background-color:white;
  position:fixed;
  right:10px;
  bottom:0;
  z-index:9999;
  -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  -moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

#btn {
    font-size: 14px;
    
    
    display: block;
    border: 1px solid #7e7c7c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
     cursor: pointer;
     float: right;
     margin-top:20px;
     margin-left: 8px; 
}
#btn1{
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
     cursor: pointer;
    margin-left: 18px;
    background-color:#4679BD;
}
.chatbox > label {
  display:block;
  height:24px;
  line-height:24px;
  background-color:#344150;
  color:white;
  font-weight:bold;
  padding:0 1em 1px;
}



.chatbox .content {
    height:225px;
  padding:10px;
  display:block;
}
p{
    text-align:center;
    margin-bottom:15px;
    
}






